//Светлая тема
$main_color: #0F2D97;
$bg_color: #F0FAFE;
$button_color: #3C5ED4;
$input_btton_color: #153BC2;
$warning_color: #FF2626;


//Импорт шрифтов
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
