@import "./variables";

body {
    font-family: Montserrat;
    font-style: normal;
    background-color: $bg_color;
    padding: 0 15px;
}
.section-container {
    max-width: 840px;
    margin: 0 auto;
    margin-top: clamp(3.75rem, 2.134rem + 6.9vw, 5.625rem);
}
.main_title {
    color: $main_color;
    font-size: clamp(2.25rem, 1.172rem + 4.6vw, 3.5rem);
    font-weight: 700;
    margin-bottom: clamp(2.5rem, 1.422rem + 4.6vw, 3.75rem);
}
.subtitle-container {
    display: flex;
    gap: clamp(0.875rem, 0.336rem + 2.3vw, 1.5rem);
}
.subtitle_img {
    object-fit: contain;
}
.subtitle {
    color: $main_color;
    font-size: clamp(1.5rem, 0.853rem + 2.76vw, 2.25rem);
    font-weight: 600;
}